* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8%;
    background: transparent;
    position: absolute;
    width: 100%;
    color: #219aaf;
    font-weight: bold;
    top: 0;
    z-index: 10;
}

nav .logo {
    padding-left: 10%;
    font-size: 40px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: #219aaf;
    font-weight: bold;
    font-size: 18px;
}

.hero {
    background: url('Images/main-bg.png') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: left;
    padding-left: 10%;
    align-items: center;
    opacity: 0.9;
}

.hero .overlay {
    background: transparent;
    color: #219aaf;
    padding: 20px;
    font-size: 15px;
    text-align: left;
    position: relative;
}

.hero h1 {
    font-size: 64px;
}

.hero p {
    font-size: 24px;
}

.hero .btn {
    display: inline-block;
    font-size: 18px;
    margin-top: 50px;
    background: transparent;
    color: #c30c56;
    text-decoration: underline;
}

.about {
    padding: 50px;
    text-align: left;
    background-color: #212121;
    color: #c30c56;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 7%;
}

.about p {
    font-size: 1rem;
    margin-bottom: 10px;
    padding-left: 7%;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}




.skills {
    padding: 50px;
    background-color: #212121; 
    color: #c30c56;
    display: flex;
    flex-direction: column;
    
}

.skills h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 30px;
    padding-left: 7%;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-left: 7%;
    align-items: start;
}

.profile-img img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.skills-info {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-row {
    font-size: 18px;
    margin-bottom: 20px;
}

.skill-row .label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.skill-row .info {
    font-size: 1rem;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #6690b2;
    border-radius: 15px;
    overflow: hidden;
}

.progress {
    height: 20px;
    background-color: #e45f98;
}

@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .profile-img img {
        max-width: 100%;
    }
}




.portfolio {
    padding: 50px;
    background-color: #212121;
    color: #c30c56
}

.portfolio h2 {
    padding-left: 7%;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: left;
}

.portfolio-container {
    padding-left: 7%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
}

.portfolio-description h3 {

    font-size: 18px;
    margin-bottom: 10px;
}

.portfolio-description p {

    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.portfolio-images img {
    width: calc(20% - 20px);
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio-images .image-row a .hover-image {
    transition: opacity 0.5s ease;
}

.portfolio-images .image-row a .hover-image:hover {
    content: url('Images/1726381944969.png');
}




.contact {
    padding: 50px;
    background-color: #212121;
    color: #c30c56;
    text-align: left;
}

.contact h2 {
    padding-left: 7%;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
    color: #c30c56;
}

.contact-container {
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links ul li {
    margin-bottom: 10px;
}

.social-links ul li a {
    text-decoration: none;
    color: #c30c56;
    font-weight: bold;
    transition: color 0.3s;
}

.social-links ul li a:hover {
    color: #666;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #c30c56;
}

.contact-info p a {
    text-decoration: none;
    color: #c30c56;
    transition: color 0.3s;
}

.contact-info p a:hover {
    color: #666;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
